<div class="menu">
  <div class="flex__child">
    <div class="menu__title">kanban</div>

    <div class="menu__all_boards_title">All Boards</div>
    <div
      *ngIf="projectState.getCurrentProject() | async as activeItemId"
      class="menu__all_boards"
    >
      <div
        *ngFor="let project of projects"
        class="menu__item"
        [title]="project.title"
        [ngClass]="{ _active: activeItemId === project.id }"
        (click)="changeActiveItem(project.id)"
      >
        {{ project.title }}
      </div>
    </div>
    <button class="add__button_project" (click)="createProjectEvent()">
      + Create New Board
    </button>
  </div>

  <div class="flex__child mb30">
    <div class="change__theme">Light || Dark</div>

    <div class="hide__btn">Hide Sidebar</div>
  </div>
</div>
